$primary: md-get-palette-color(pink, 500);
$primary-dark: $primary;
$accent: md-get-palette-color(white, 500);
$accent-dark: md-get-palette-color(white, 500);
$accent: $accent-dark;
// $primary: md-get-palette-color(teal, A700);
// $primary-dark: $primary;
// $accent: md-get-palette-color(pink, 500);
// $accent-dark: $accent;